@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
  --primary: #009EE2;
  --btn-disabled-text: #B5B5B5;
}

@font-face {
  font-family: "ManropeRegular";
  src: url("../assets/fonts/Manrope-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ManropeMedium";
  src: url("../assets/fonts/Manrope-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ManropeSemiBold";
  src: url("../assets/fonts/Manrope-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ManropeBold";
  src: url("../assets/fonts/Manrope-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  color: var(--foreground);
  background: white;
  font-family: "ManropeRegular";
}

.font-size-medium {
  font-family: "ManropeMedium";
}
.font-size-semibold {
  font-family: "ManropeSemiBold";
}
.font-size-bold {
  font-family: "ManropeBold";
}

.swiper-pagination {
  bottom: 20px !important;
  text-align: right; /* or center/left */
}

.swiper-pagination-bullet {
  background-color: #ccc !important;
  opacity: 1;
  width: 12px;
  height: 12px;
  margin: 0 5px;
}

.swiper-pagination-bullet-active {
  background-color: #009ee2 !important;
  width: 30px !important;
  height: 5px !important;
  border-radius: 5px !important;
}
